
/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$brand-primary: #2e4699;
$brand-secondary: #0b1d59;

$error: #f80100;

$black: #000;
$white: #fff;

$blue-lighter: #2e4699;