.grid-container {
 display: flex;
 flex-direction: row;
 width: 100%;
  }
  .grid-item {
    text-align: center;
    flex: auto;
  }
  .grid-item-1 {
    width: 50%;  
    text-align: center;
  }
  .headerText {
    font-size: 26px;
    text-align: center;
  }

.pokemonTop {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #3b569b;
}
.title {
    
    text-align: center;
    margin: 0;
    font-size: 26px;
    color: #ffffff;
}
.pokemonTop input {
    margin-top: 12px;
    padding-left: 4px;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
}
.pokemonTop button {
    margin-top: 15px;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #0b1d59;
    color: #ffffff;
    cursor: pointer;
}
.pokemonTop button:hover {
    background-color: #2e4699; 
}
.pokemonBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokemonBody h4 {
    text-transform: capitalize;
    text-align: center;
}
.pokemonBody h6 {
    margin: 10px;
    font-size: 18px;
    text-align: center;
}
.pokemonBody img {
    display: flex;
    margin: auto;
}
.pokemonBody .loaderBody{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.cardView {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    margin: 0 auto;
}
.cardView h3 {
    text-align: center;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.buttons button {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 180px;
    height: 40px;
    margin-right: 15px;
    border-radius: 5px;
    border: none;
    background-color: #0b1d59;
    color: #ffffff;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #2e4699; 
}
.search {
   display: flex;
   justify-content: center; 
}
.search input {
    margin-top: 12px;
    padding-left: 4px;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #0b1e59;
}
.search button {
    margin-left: 15px;
    margin-top: 15px;
    width: 180px;
    height: 40px;
    margin-right: 15px;
    border-radius: 5px;
    border: none;
    background-color: #0b1d59;
    color: #ffffff;
    cursor: pointer;
}

.search button:hover {
    background-color: #2e4699; 
}
.grid-loader {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        width: 100%;
        }
    .grid-item {
        width: 100%;
    }
    .grid-item-1 {
        width: 100%;
    }
    .cardView {
        display: grid;
        padding: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:2rem;
        margin: 0 auto;
    }
}
